<h2>Welcome, Web 1.0 User</h2>

<div>
    <p>You can undertake the following tasks:</p>
    <ul>
        <li><a href="/teams">Teams</a></li>
        {{!<li><a href="/my-page">My Page</a></li>}}
    </ul>
</div>
