<div id="reset-password-page">
    <div class="row">
        <div class="col-8">
            <reset-password-static-heading></reset-password-static-heading>

            <instructions details="Change your password."></instructions>

            <div v-if="errors.length">
                <h2>There are errors on this form:</h2>
                <error-msge
                        v-for="(error, idx) in errors"
                        v-bind:severity="error.severity"
                        v-bind:msge="error.msge"
                        v-bind:key="idx + 1">
                </error-msge>
            </div>

            <form id="reset-password-form" method="POST">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password"
                           type="password" placeholder="Current password"
                           v-model="password" required>
                </div>
                <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input class="form-control" id="newpassword" name="newpassword"
                           type="password" placeholder="Non-trivial new password"
                           v-model="newpassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmnew">Confirm New Password</label>
                    <input class="form-control" id="confirmnew" name="confirmnew"
                           type="password" placeholder="Re-enter new password"
                           v-model="confirmnew" required>
                </div>

                <div v-if="errors.length">
                    <input class="btn btn-primary" type="submit" value="Change Password" id="change-password-butt" disabled>
                </div>
                <div v-else>
                    <input class="btn btn-primary" type="submit" value="Change Password" id="change-password-butt" enabled>
                </div>

            </form>
        </div>
        <div class="col-4">
            <h2>Cheat Sheet</h2>
            <ul>
                <li>Password: \{{ password }}</li>
                <li>New Password: \{{ newpassword }}</li>
                <li>Confirm New Password: \{{ confirmnew }}</li>
            </ul>
        </div>
    </div>
</div>

<script src="/public/reset-password.js"></script>
